<%= form_for(@wall, :html => { :multipart => true }) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :header_color %><br />
    <%= f.text_field :header_color %>
  </div>
  <div class="background">
    <%= f.label :background %>
    <%= f.file_field :background %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
