<script type="text/javascript">
  $(document).ready(function() {
      $("#upload-background").bind("click", function (e) {
         $("#upload-file-field").trigger("click");
      });
  });
</script>
    <%= form_for(@wall, :html => { :multipart => true }) do |f| %>
      <fieldset>
        <% if alert  %>
            <div class="alert alert-error"><%=alert %></div>
        <% end %>
        <% if @wall.errors.any? %>
            <div class="alert alert-error" id="error_explanation">
              <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

              <ul>
                <% @wall.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <h4>Name</h4>
        <%= f.text_field :name, :placeholder=>"enter name", :maxlength=>"40" %>

        <h4>Background</h4>

        <%= f.text_field :background_url, :placeholder =>"paste URL here" %><span> ~ <i>or</i> ~</span>
        <%= link_to "Upload file", "#", :id=>"upload-background", :class=>"btn" %>


        <%= f.file_field :background, :style=>"display: none;", :id=>"upload-file-field" %>

        <br/>
        <%= f.submit :class=>"btn" %>
      </fieldset>

    <% end %>