<div class="container">

    <h1>Editing wall</h1>

    <%= image_tag @wall.revisions.last.image.url(:square) %>
    <br/>
    <%= link_to 'Remove all paint', clear_wall_path(@wall), :class=>"btn" %>

    <%= render 'form' %>

    <%= link_to 'Show', @wall %> |
    <%= link_to 'Back', walls_path %>

</div>
