<div class="smalltron">
  <h1>Walls <%= link_to "+ New", new_wall_path, :class => "btn btn-primary" %></h1>

</div>


<ul class="thumbnails">
  <% @walls.each do |wall| %>

  <li class="span4">
    <div class="thumbnail">
      <%= link_to wall, :class=>"img" do %>
        <%= image_tag wall.revisions.last.image.url(:square), :class=>"width100" %>
      <% end %>
      <div class="caption">
        <% if wall.is_owned_by? @current_user %>
            <p class="controls">
              <%= link_to 'Edit', edit_wall_path(wall) %>
              <%= link_to 'Delete', wall, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
        <% end %>
          <h3><%= link_to wall.name, wall %>

          </h3>

      </div>
    </div>
  </li>

  <% end %>
</ul>
