<h1>walls</h1>

<% @walls.each do |wall| %>
<div class="">
  <div class="left-col">
    <%= wall.name %>
  </div>
  <div class="right-col">
    <%= link_to wall do %>
      <%= image_tag wall.revisions.last.image.url(:thumb) %>
    <% end %>
    <div class="crud">
        <%= link_to 'Edit', edit_wall_path(wall) %>
        <%= link_to 'Destroy', wall, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>

<% end %>


<br />

<%= link_to 'New Wall', new_wall_path, :class=>"btn" %>
