<style type="text/css">
  * {
      -moz-user-select: none;
      -webkit-user-select: none;
  }
        .icon-colorwheel {
            background-image: url("/assets/color-wheel-icon.png");
            background-position: center;
            width: 16px;
            height: 16px;
            margin-top: -1px;
        }

        #color1 {
            height:16px;
            background-color: #ff1517;
        }

      #color2 {
          height:16px;
          background-color: #150fff;
      }

      #color3 {
          height:16px;
          background-color: #fafffb;
      }

      #color4 {
          height:16px;
          background-color: #000000;
      }

      #color5 {
          height:16px;
          background-color: #01e411;
      }

      #color6 {
          height:16px;
          background-color: #a37d04;
      }
</style>
<div id="wall_images_path" style="display: none"><%=wall_images_path(@wall)%></div>

<div class="alert alert-info upload-alert" style="display: none;">
  Uploading...
</div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/walls"><%=@wall.name%></a>

      <ul class="nav">

      </ul>
      <div class="btn-group">
        <a class="btn btn-select-size dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-pencil"></i>
          <span class="caret"></span>
        </a>
        <ul class="select-size dropdown-menu">
          <!-- dropdown menu links -->
          <li>
            <a id="small" href="#">Small</a>
          </li>
          <li>
            <a id="medium" href="#">Medium</a>
          </li>
          <li>
            <a id="large" href="#">Large</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn btn-colorwheel dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-colorwheel"></i>
          <span class="caret"></span>
        </a>
        <ul class="select-color dropdown-menu">
          <!-- dropdown menu links -->
          <li>
            <a id="color1" href="#"></a>
          </li>
          <li>
            <a id="color2" href="#"></a>
          </li>
          <li>
            <a id="color5" href="#"></a>
          </li>
          <li>
            <a id="color6" href="#"></a>
          </li>
          <li>
            <a id="color3" href="#"></a>
          </li>
          <li>
            <a id="color4" href="#"></a>
          </li>
        </ul>
      </div>

      <a class="btn" id="nav" href="#"><i class="icon-search"></i></a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse pull-right">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><a id="upload" href="#"><i class="icon-file"></i> Save</a></li>
          <li><a href="#"><i class="icon-trash"></i> Clear Page</a></li>
          <li><a href="#"><i class="icon-eject"></i> Sign Out</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>

<!--
<h1 class="no-select"><%=@wall.name%><%= link_to " walls", walls_path, :class => "btn" %></h1>

<div class="controls no-select">

  <section class="browse_mode">
    <a id="select_draw">Draw!</a>
  </section>
  <section class="select_mode">
    <p>Select a drawing area by click dragging on the page.</p>
    <br/>
    <a class="cancel_select">Cancel</a>
  </section>
  <section class="edit_mode">
    <a id="upload" value="upload">Upload</a>
    <br/>
    <a id="clear">Clear</a>
    <br/>
    <a id="cancel">Cancel</a>
  </section>
</div>

<br/>
   -->

<div id="canvas_container">
  <img id="background" src='<%="#{@wall.revisions.last.image.url}"%>'/>
  <canvas id="canvas">
  </canvas>
</div>

<%= form_tag destroy_user_session_path, :method => :delete do %>
    <%= submit_tag "Sign out" %>
<% end %>
<%= form_tag wall_images_path(@wall), :method => "delete" do %>
    <%= submit_tag "Delete all" %>
<% end %>

 <script type="text/javascript">

     $(document).ready(function () {
         init_container();
         init_canvas();
     });

     $(".nav-collapse").click( function () {

     })

 </script>