<style type="text/css">
  * {
      -moz-user-select: none;
      -webkit-user-select: none;
  }

</style>
<div id="wall_images_path" style="display: none"><%=wall_images_path(@wall)%></div>

<div class="alert alert-info upload-alert" style="display: none;">
  Uploading...
</div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to "CV", home_index_path, :class=>"brand hidden-phone"%>

      <ul class="nav hidden-phone">
        <li><%= link_to "walls", walls_path %></li>
      </ul>

      <a class="btn pull-left hidden-desktop hidden-tablet" href="<%=walls_path%>"><i class="icon-home"></i> </a>
                              &nbsp;
      <div class="btn-group">
        <a class="btn btn-select-size dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-pencil"></i>
          <span class="caret"></span>
        </a>
        <ul class="select-size dropdown-menu">
          <!-- dropdown menu links -->
          <li>
            <a id="small" href="#">Small</a>
          </li>
          <li>
            <a id="medium" href="#">Medium</a>
          </li>
          <li>
            <a id="large" href="#">Large</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn btn-colorwheel dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-colorwheel"></i>
          <span class="caret"></span>
        </a>
        <ul class="select-color dropdown-menu">
          <!-- dropdown menu links -->
          <li>
            <a id="color1" href="#"></a>
          </li>
          <li>
            <a id="color2" href="#"></a>
          </li>
          <li>
            <a id="color5" href="#"></a>
          </li>
          <li>
            <a id="color6" href="#"></a>
          </li>
          <li>
            <a id="color3" href="#"></a>
          </li>
          <li>
            <a id="color4" href="#"></a>
          </li>
        </ul>
      </div>
        &nbsp;
      <a class="btn dropdown-toggle draw-mode" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> </a>
      &nbsp;
      <a class="btn" id="nav" href="#"><i class="icon-move"></i> </a>
      <a class="btn hidden-phone undo" href="#"><i class="icon-chevron-left"></i> Undo</a>
      <a class="btn hidden-phone redo" href="#">Redo <i class="icon-chevron-right"></i></a>
      <a class="btn pull-right" id="upload" href="#"><i class="icon-download-alt"></i></a>
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-bottom hidden-tablet hidden-desktop">
  <div class="navbar-inner">
          <a class="btn pull-left undo" href="#"><i class="icon-chevron-left"></i> Undo</a>
          <a class="btn pull-right redo" href="#">Redo <i class="icon-chevron-right"></i></a>
  </div>
</div>

<div id="canvas_container">
  <img style="max-width: none;" id="background" src='' alt="Uploading... please refresh after several seconds."/>
  <canvas id="canvas">
  </canvas>
</div>

 <script type="text/javascript">

     $(document).ready(function () {
         init_container('<%="#{@wall.revisions.last.image.url}"%>');
         init_canvas();
     });

 </script>