<h1>bathroom graffiti</h1>
<div class="controls">

  <section class="browse_mode">
    <a id="select_draw">Draw!</a>
  </section>
  <section class="edit_mode">
      <a id="upload" value="upload">Upload</a>
    <br/>
      <a id="cancel">Cancel</a>
  </section>
</div>

<%= form_tag images_path, :method => "delete" do %>
    <%= submit_tag "Clear" %>
<% end %>
<br/>
<canvas id="canvas">
</canvas>

<div class='canvas_ghost'>place drawing area</div>


<% @images.each do |image| %>
    <img style="z-index: -1; position: absolute; left: <%=image.x%>px; top: <%=image.y%>px;" src="<%=image.canvas.url%>"/>
<% end %>