<h1 class="no-select">bathroom graffiti</h1>
<%= form_tag destroy_user_session_path, :method => :delete do %>
    <%= submit_tag "Sign out" %>
<% end %>
<div class="controls no-select">

  <section class="browse_mode">
    <a id="select_draw">Draw!</a>
  </section>
  <section class="select_mode">
    <p>Select a drawing area by click dragging on the page.</p>
    <br/>
    <a class="cancel_select">Cancel</a>
  </section>
  <section class="edit_mode">
      <a id="upload" value="upload">Upload</a>
    <br/>
        <a id="clear">Clear</a>
    <br/>
      <a id="cancel">Cancel</a>
  </section>
</div>

<%= form_tag images_path, :method => "delete" do %>
    <%= submit_tag "Delete all" %>
<% end %>
<br/>
<canvas id="canvas">
</canvas>

<div class='canvas_ghost'></div>


<% @images.each do |image| %>
    <img style="z-index: -1; position: absolute; left: <%=image.x%>px; top: <%=image.y%>px;" src="<%=image.canvas.url%>"/>
<% end %>