<h1>bathroom graffiti</h1>
<div class="controls">

  <%= form_tag images_path, :method => "delete" do %>
      <%= submit_tag "Clear" %>
  <% end %>

  <button id="select_draw">Draw!</button>   <br/>
    <button id="upload" value="upload">Upload</button>

  <button id="cancel">Cancel</button>
</div>

<br/>
<canvas id="canvas">
</canvas>

<div class='canvas_ghost'>place drawing area</div>


<% @images.each do |image| %>
    <img style="z-index: -1; position: absolute; left: <%=image.x%>px; top: <%=image.y%>px;" src="<%=image.canvas.url%>"/>
<% end %>