<!DOCTYPE html>
<html>
<head>
  <title>Casual Vandalism</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <link href="/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">

  </style>
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/hammer-latest.min.js"></script>
  <script type="text/javascript" src="/js/sylvester.js"></script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "CV", home_index_path, :class => "brand" %>
    <ul class="nav">
        <li><%= link_to "Walls", walls_path %></li>
        <li><%= link_to "Codes", qrcodes_path%></li>
    </ul>

    <ul class="nav pull-right">
      <% if current_user %>
          <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="#">You
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#"><%=current_user.email%></a></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path(:after => request.env['PATH_INFO']), :method=>:delete %></li>
              </ul>
          </li>
      <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="overlay" style="display: none;"></div>
<div class="alert alert-info alert-dialog" id="help-dialog" style="display: none;">
</div>
<div class="alert alert-dialog" id="locked-dialog" style="display: none;">
</div>


<%= yield %>

</body>
</html>
